<div class="fancyBox">
 <div class="container">
   <div class="contentBox3a center">
     <h4><a href="families/familysheet.html">
    		<img alt="top1" class="img-curved" <%= image_tag 'jiri.jpg' %>
     <a class="has-text-black" href="families/ancestors.html">Jiri Masek</a>
    </h4>
   </div>
   <div class="contentBox3b center">
			<div id="slider" class="nivoSlider">
        <img alt="family" <%= image_tag 'color_family.jpg' %>
			</div>
		</div>
			<div class="contentBox3c center">
        <h4><a href="families/familysheet.html">
       		<img alt="top2" class="img-curved" <%= image_tag 'katerina.jpg' %>
        <a class="has-text-black" href="families/ancestors.html">Katerina Masek</a>
       </h4>
			</div>
			<div class="clear"></div>
	</div></div>
