@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jura:wght@300&family=Open+Sans:wght@300&family=Philosopher&family=Raleway:wght@100&display=swap');

$body-family: 'Open Sans', sans-serif;
$family-sans-serif: 'Philosopher', sans-serif;
$family-primary: 'Jura', sans-serif;
$family-secondary: 'Raleway', sans-serif;
$family-code: 'Great Vibes', cursive;

@import 'bulma';
