/*  Designed by Genealogy Web Templates A Division of Templates In Time
 *	 https://genealogywebtemplates.com

Main Colors used in this template
#283b46-darkest color
#334c5b-dark color
#3d5a6c-medium color
#86a7ba-light color
#a2bbca-lightest color
#6bb9bd-accent color
*/
/* ================================================== GENERAL RULES ============================================================== */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jura:wght@300&family=Open+Sans:wght@300&family=Philosopher&family=Raleway:wght@100&display=swap');

html {height: 101%;	background: #ffffff;}
header, figure, figcaption, footer, nav, article, section, aside {display: block;}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}
/*  ========== Horizontal Rules and Clear Floats ============== */
hr {background-color: #774766; border: none; color: #774766; height: 1px; clear: both;}
hr.fancy {
	background: transparent url('hr.png') center center no-repeat;
	color: #eee;
	border: none;
	height: 36px;
}

hr.noshow {background-color: transparent; border: none; color: #fff; height: 0; clear: both; visibility: hidden;}
.clearfix:before, .clearfix:after, .breadcrumbs:before, .breadcrumbs:after, .group:before, .group:after,
.container:before, .container:after {display: table; content: "";}
.clearfix:after, .container:after, .breadcrumbs:after, .group:after {clear: both;}.white * {color: #ffffff;}
.clear {clear: both;}

/* =========== Lists ============= */
ul {margin: 10px 0 20px 0;	padding: 0 0 0 15px;}
ul li a {color: #334c5b; font-weight: normal; padding: 0;}
ul li a:hover {color: #3d5a6c; font-weight: normal; text-decoration: none;}
ul.list1 li {list-style-type: none; position: relative; margin-left: -10px; padding-left: 20px;}
ul.list1 li:before {position: absolute; font-family: 'FontAwesome'; font-size: 14px; top: 3px; left: 0; content: "\f0a9"; color: #334c5b;}
ol.leadingzero {background: none; list-style-position: outside; list-style-type: decimal-leading-zero; color: #334c5b;}
.list-inline {list-style: outside none none; margin-left: -5px; padding-left: 0;}
.list-inline > li {display: inline-block; padding-left: 5px; padding-right: 5px;}

/* ====================================================== TYPOGRAPHY ============================================================ */
a {color: #283b46;  text-decoration: none; font-weight: normal;	outline: none;}
a:hover {color: #3d5a6c; text-decoration: none;	font-weight: normal; outline: none;}

h1 {font-family: 'Philosopher', sans-serif; font-size: 42px; color: #334c5b; margin: .3em 0 .3em 0;}
h2 {font: 28px 'Philosopher', serif, Arial, Verdana, Helvetica, sans-serif; color: #3d5a6c; font-weight:normal; text-align:center; margin: .3em 0; letter-spacing: 1px;}
h3 {font: 42px 'Great Vibes', Verdana, Helvetica, sans-serif; color: #3d5a6c; padding: 0; margin: 10px 0; padding: 5px 0;}
h4 {font: normal 28px 'Philosopher', Verdana, Helvetica, sans-serif; color: #3d5a6c; margin: .3em 0;}
h5.fieldset {font: normal 24px 'Raleway', Verdana, Helvetica, sans-serif; color: #777; margin: .3em 0; font-variant: small-caps;}
h6 {font: normal 24px 'Jura', Verdana, Helvetica, sans-serif; color: #334c5b; margin: .3em 0;}
h2.alternate {
	font: 1.6em 'Philosopher', Arial, Verdana, Helvetica, sans-serif;
	color: #ffffff;
	margin: .3em 0;
	text-align: center;
	background: #a2bbca;
	background: linear-gradient(#a2bbca, #283b46);
	border: 1px solid #fff;
	border-radius: 10px 10px;
	box-shadow: 0 0 10px #000;
}
h2.alternate:before {display: none;}
h2.alternate:after {display: none;}

h2.alternate2 {
	font: 1.6em 'Philosopher', Arial, Verdana, Helvetica, sans-serif;
	color: #ffffff;
	margin: .3em 0;
	text-align: center;
	background: #334c5b;
	background: linear-gradient(#334c5b, #000);
	border: 1px solid #fff;
	border-radius: 10px 10px;
	box-shadow: 0 0 10px #000;
}
h2.alternate2:before {display: none;}
h2.alternate2:after {display: none;}
/*Text Colors */
.textcolorDark {color: #334c5b;}
.textcolorMedium {color: #3d5a6c;}
.textcolorLight{color: #3d5a6c;}
.textcolorAccent {color: #6bb9bd;}
.textcolor-white {color: #fff;}
.textcolor-black {color: #000;}
.textcolor-gray {color: #a0a0a0;}
.textcolor-red {color: #c00000;}
.text-align-right {text-align:right; padding-right: 10px;}

/*  ===================================================== PARAGRAPHS ============================================================== */
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.tiny {font-size: 65%;}
.small {font-size: 85%;}
.medium {font-size: 90%;}
.large {font-size: 120%;}
.xlarge {font-size: 180%;}
.xxlarge {font-size: 52px; font-weight: bold;}
.wide {letter-spacing: 3px;}
.lead {font-size: 1.4em; line-height: 1.5em; font-variant: small-caps; padding-top: 20px; padding-bottom: 20px;}
.project {font-size: 0.95em; line-height: 1em; text-transform: uppercase; font-weight: lighter; letter-spacing: 2px; padding: 0; color: #fff;border-bottom: 1px dashed #fff;}
.project2 {font-size: 0.95em; line-height: 1em; text-transform: uppercase; font-weight: lighter; letter-spacing: 2px; padding: 0; border-bottom: 1px dashed #000;}
.newsDate {position: relative; color: #ecf0f1; text-align: right; font-size: 0.90em; letter-spacing: 1px; padding: 0 20px 0 0; margin-top: -24px;}
.newsDate:before {position: absolute; font-family: 'FontAwesome'; content: "\f073"; top: 5px; right: 0; font-size: 16px; color: #ecf0f1;}
.newsDate2:before {position: absolute; font-family: 'FontAwesome'; content: "\f073"; top: 5px; right: 0; font-size: 16px; color: #6bb9bd;}
.newsDate2 {position: relative; color: #666; text-align: right; font-size: 0.90em; letter-spacing: 1px; padding: 0 20px 0 0; margin-top: -24px;}
.underline-dashed {border-bottom: 1px dashed #777;}
.underline-dotted {border-bottom: 1px dotted #777;}
.underline-solid {border-bottom: 1px solid #777;}
/* Author ========== */
.authorDate {color: #333; font-size: 0.95em; text-transform: uppercase;	border-bottom: 1px #333 solid; font-weight: lighter; letter-spacing: 2px; margin: 0 0 15px 0; padding: 0;}
.author {font-size: 0.90em; letter-spacing: 1px; margin: 0 0 15px 0; padding: 0; font-style:italic;}

/* ============= Paragraph Classes Using Font Awesome ============= */
.home {position: relative; padding: 0 0 5px 25px;}
.home:before {position: absolute; font-family: 'FontAwesome'; content: "\f015"; top: 0; left: 0; font-size: 20px; color: #334c5b;}

.call {position: relative; padding: 0 0 5px 25px;}
.call:before {position: absolute; font-family: 'FontAwesome'; content: "\f095"; top: 0; left: 0; font-size: 20px; color: #334c5b;}

.email {position: relative; padding: 0 0 5px 25px;}
.email:before {position: absolute; font-family: 'FontAwesome'; content: "\f003"; top: 0; left: 0; font-size: 20px; color: #334c5b;}

.hours {position: relative; padding: 0 0 5px 25px;}
.hours:before {position: absolute; font-family: 'FontAwesome'; content: "\f017"; top: 2px; left: 0; font-size: 20px; color: #334c5b;}

.comment {position: relative; padding: 0 0 5px 25px;}
.comment:before {position: absolute; font-family: 'FontAwesome'; content: "\f27b"; top: 0; left: 0; font-size: 20px; color: #334c5b;}

/* =================== Font Awesome Styling ==================== */
.icon-shadow {text-shadow: 1px 2px 3px rgba(0,0,0,0.3);}
.icon-large {font-size: 120%;}
.icon-xlarge {font-size: 180%;}
.icon-logo {font-size: 140%; display: inline-block;}
.icon-left {margin: 5px 10px 0 0; float: left;}
.icon-right {margin: 5px 0 0 10px; float: right;}
.icon {display: inline-block; font-style: normal; position: relative;}
.icon-circle {height: 20px; width: 20px; line-height: 20px; border-radius: 50%; border: 1px solid #334c5b; font-size: 12px; text-align: center;}
.icon-circle-solid {height: 40px; width: 40px; line-height: 40px; border-radius: 50%; background-color: #3d5a6c; border: 1px solid #334c5b; font-size: 18px; text-align: center;}
icon::before {display: inline-block; position: relative;}
*::before, *::after {box-sizing: border-box;}
[class*="fa-"]::before {font-family: "FontAwesome"; font-weight: 400;}
a.icon {transition: all 0.3s ease 0s;}
a.icon:hover {text-decoration: none; background: #334c5b; color: #fff;}
a.icon.fa-facebook:hover {background: #395b98; color: #fff; border: 1px solid #e0e0e0;}
a.icon.fa-twitter:hover  {background: #2ca7e0; color: #fff; border: 1px solid #e0e0e0;}
a.icon.fa-google:hover   {background: #d95139; color: #fff; border: 1px solid #e0e0e0;}
a.icon.fa-instagram:hover {background-repeat: no-repeat; color: #fff; border: 1px solid #e0e0e0; background-image: linear-gradient(-45deg, #ffdc80, #e1306c 50%, #405de6);}
/* Show Code ========== */
.showcode {font-family: "Courier New", Courier, monospace; font-size: 16px; background-color: #f5f5f5; border-radius: 3px; border: 1px dotted #bbb;  color: #0000c0; vertical-align: middle; padding: 1px 4px;}

/* ================================================== IMAGE STYLES ============================================================== */
img {border: none; max-width: 100%; box-sizing: border-box;}
.img-border {margin: 5px 10px 0 0; float: left; border: 1px #777 solid;}
.img-catalog {border: 1px #d0d0d0 solid; padding: 1%; margin: 1% 2%;	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);}
.img-frame {background: #ffffff; border: 1px #aaa solid; padding: 3px; margin: 4px 1px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);}
.img-curved {border-radius: 10px; margin: 4px 2px; border: 1px #444 solid;	box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5);}
.img-gallery {border: 1px #d0d0d0 solid; padding: 1%; margin: 1% 2%;}
.img-shadow {margin: 5px 0; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5);}
.img-round {border-radius: 50%; border: 1px #444 solid; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5);}
.img-round-left {border-radius: 50%; float: left; border: 1px #444 solid; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5); margin-right: 10px;}
.img-round-right {border-radius: 50%; float: right; border: 1px #444 solid; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5); margin-left: 10px;}
.img-small {max-width: 150px; height: auto;}
.img-right {margin: 5px 0 0 10px; float: right;}
.img-right-shadow {margin: 5px 0 0 10px; float: right; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5);}
.img-rotate-right {margin: 20px; transform: rotate(4deg);}.img-right-border {margin: 5px 0 0 10px; float: right; border: 1px #777 solid;}
.img-rotate-left {margin: 20px; transform: rotate(-4deg);}
.img-left {margin: 5px 10px 0 0; float: left;}
.img-left-shadow {margin: 5px 10px 0 0; float: left; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.5);}
.img-fullwidth {width: 100% !important;}

/* ======== MAIN NAVIGATION AREA ======== */
nav {
	background: #000; background: #000 linear-gradient(#000, #4a4a4a); color: #fff;	border-top: 1px solid #fff;
	border-bottom:  4px solid #86a7ba;
	height: 40px;
	padding-top: 4px;
	margin-top: -10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
/* ========== NON-MOBILE TOP LEVEL ============= */
ul.slimmenu {width: 100%; text-align:center;}
ul.slimmenu li {text-align: center;}
ul.slimmenu > li {margin-right: -4px; }
ul.slimmenu li a {font-size: 14px; font-weight: normal; color: #fff; padding: 8px 15px 12px 15px; display: block; font-family: 'Open Sans', sans-serif; border-radius: 5px 5px 0 0 ;}
ul.slimmenu li a:hover {color: #fff; background: #86a7ba; }
ul.slimmenu li .sub-collapser > i {color: #fff; /* arrow color */  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);}

/* ======== NON-MOBILE SUB LEVELS ============== */
ul.slimmenu li ul li .sub-collapser > i {color: #fff; /* arrow color */}
ul.slimmenu li ul li {width: 160px; background-color: #efefef; margin-top: 0; }
ul.slimmenu li ul li a {color: #000;}
ul.slimmenu li ul li a:hover {color: #fff; background: #86a7ba; border-radius: 0;}
ul.slimmenu li ul li ul li{background-color: #efefef; text-align: center;}

/* ============= FOR MOBILE =================== */
.menu-collapser {border-radius: 0; color: #fff;}
.collapse-button {background-color: transparent;}
.collapse-button:hover, .collapse-button:focus {background-color: transparent;}
.collapse-button .icon-bar {background-color: #fff; display: block; height: 3px; width: 24px; margin: 2px 0;}
.collapse-button:hover .icon-bar {background-color: #efefef;}

/* ============ MOBILE TOP LEVEL ============= */
ul.slimmenu.collapsed li {background: #efefef;}
ul.slimmenu.collapsed li a {color: #000;}
ul.slimmenu.collapsed li a:hover {color: #fff; background: #86a7ba;}
ul.slimmenu.collapsed li .sub-collapser > i {font-style: normal; color: #3d5a6c; /* arrow color */}

/* ========== MOBILE SUB LEVELS ============== */
ul.slimmenu.collapsed li ul li {background: #d8d8d8;}
ul.slimmenu.collapsed li ul li a {color: #334c5b;}
ul.slimmenu.collapsed li ul li a:hover {color: #202020; background: #a2bbca;}
ul.slimmenu.collapsed li ul li ul li {background-color: #334c5b;}
ul.slimmenu.collapsed li ul li ul li a {color: #202020;}
ul.slimmenu.collapsed li ul li ul li a:hover {color: #202020; background-color: #d8d8d8;}

/* === edit with caution === */
ul.slimmenu {list-style-type: none; margin: 0; padding: 0; font-size: 0.90em;}
ul.slimmenu li {position: relative; display: inline-block;}
ul.slimmenu > li:first-child {border-left: 0;}
ul.slimmenu > li:last-child {margin-right: 0;}
ul.slimmenu li ul li:last-of-type {border-bottom: none;}
ul.slimmenu li ul {margin: 0; list-style-type: none; text-transform: none;}
ul.slimmenu li .sub-collapser {position: absolute; right: 0; top: 0; width: 30px; height: 100%; text-align: left; z-index: 999; cursor: pointer;}
ul.slimmenu li .sub-collapser:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: 0;}
ul.slimmenu li .sub-collapser > i,
ul.slimmenu li ul li .sub-collapser > i {font-size: 14px; display: inline-block; vertical-align: middle;}
ul.slimmenu li > ul {display: none; position: absolute; left: 0; top: 100%; z-index: 999; padding-left: 0; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);}
ul.slimmenu li > ul > li ul {display: none; position: absolute; left: 100%; top: 0; z-index: 999; width: 100%; white-space: normal; padding-left: 0;}
ul.slimmenu li a:hover,
ul.slimmenu li ul li a:hover {text-decoration: none;}
.menu-collapser {width: 96%; margin: 0 2%; position: relative; text-align: left; height: 42px; line-height: 42px; font-size: 18px; padding: 0 8px; box-sizing: border-box;}
.collapse-button {position: absolute; right: 8px; top: 50%; width: 40px; background-repeat: repeat-x; border-radius: 4px; color: #ffffff; padding: 7px 10px; cursor: pointer;
            font-size: 14px; text-align: center; transform: translate(0, -50%); box-sizing: border-box;}
ul.slimmenu.collapsed {list-style-type: none; margin: 0 1%; padding: 0; width: 98%; text-align: left;}
ul.slimmenu.collapsed li {border-left: none; display: block; width: 100%; box-sizing: border-box; z-index: 999; text-align: left;}
ul.slimmenu.collapsed li .sub-collapser {position: absolute; right: 0; top: 0; width: 40px; height: 48px; text-align: center; z-index: 999; cursor: pointer;}
ul.slimmenu.collapsed li .sub-collapser > i {font-size: 18px; display: inline-block; vertical-align: middle;}
ul.slimmenu.collapsed li ul li ul {display: none; position: relative; left: 0; top: 0; z-index: 999; width: 100%; white-space: normal; padding-left: 0;}
ul.slimmenu.collapsed li > ul {display: none; position: relative; width: 100%; box-shadow: none;}
ul.slimmenu.collapsed li a {display: block; box-sizing: border-box;}
ul.slimmenu.collapsed li ul li {display: block; width: 100%; box-sizing: border-box; z-index: 999; text-align: left; border-bottom: 0;}
ul.slimmenu.collapsed li ul li a {padding-left: 30px; display: block; box-sizing: border-box;}
ul.slimmenu.collapsed li ul li ul li {display: block; width: 100%; box-sizing: border-box; z-index: 999; text-align: left;}
ul.slimmenu.collapsed li ul li ul li a {padding-left: 30px;}
/* hides arrows on non-mobile menu */
ul.slimmenu li .sub-collapser {visibility: hidden; position: absolute; right: 0; top: 0; width: 0; height: 100%; text-align: center; z-index: 999; cursor: pointer;}
ul.slimmenu li a {display: block;font-family: 'Open Sans', sans-serif; transition: background-color 0.2s ease-out;}
ul.slimmenu.collapsed li .sub-collapser {visibility: visible;}

/* ======== LAYOUT RULES ======== */
/* ======== Row 4 is the container for footer area   ======== */
.row4 {background: #202020; padding: 0; color: #fff; border-top: 4px solid #86a7ba;}
.row4 a {color: #fff; font-weight: normal; text-decoration: none; outline: none;}
.row4 a:hover {color: #fdf7ff; text-decoration: none; font-weight: normal; outline: none;}
/* ======== Row 5 is the Floral Container ======== */

/* ======== Fancy Box ======== */
.fancyBox {
	background-image: url('headerback.jpg');
	font-family: 40px 'Philosopher', Verdana, Helvetica, sans-serif;
	color: #8293A1;
	font-size: 28px;
	padding: 6px;
	margin-top: -5px;
	margin-bottom: 10px;
	border-bottom:  4px solid #86a7ba;
	box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.4);}
.fancyBox2 {background-image: url('headerback.jpg'); padding: 6px; margin-top: 10px; border-top: 4px solid #86a7ba;}

.container {width: 1200px;	margin: 0 auto;	margin-bottom: 10px;}

.inside {width: 96%; padding: 0 2%;}
.group {padding: 0; margin: 10px; clear: both;}

/* ======== HEADER AREA ======== */
header {
	width: 100%;
	color:#fff;
	background:#283b46;
	background-image: none;
	background-image: linear-gradient(-45deg, #86a7ba, #334c5b 50%, #283b46);
	border-bottom: 1px solid  #283b46;
	padding-top: 20px;
	margin: 0;
	min-height: 130px;
}
/* ======== LOGO/SITE NAME AREA ======== */
.brand, .brand a, .brand a:hover  {
	font: 40px 'Philosopher', Verdana, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	margin: 0;
}
.slogan {
	font-size: 28px;
	font-family: 'Great Vibes', cursive, Verdana, Helvetica, sans-serif;
	color: #ffffff;
	padding: 10px;
	font-style:italic;
	margin-bottom: 1%;
}
.logoBox25Left  {float: left; width: 23%; padding: 10px 0; margin: 0;}
.logoBox25Right {float: right; width: 23%; padding: 10px 0; margin: 0;}

/* ======== SLIDE SHOW, TOP TEXT AREA FOR SLIDE SHOW, MAIN IMAGE AREA AND TOP BOXES ======== */
.contentBox2a {float: left; width: 48%; padding: 0; margin: 0 2% 0 0;}
.contentBox2b {float: right; width: 48%; padding: 0; margin: 0 0 0 2%;}

.contentBox3a {float: left; width: 30%; padding: 10px; margin: 0 1% 5px 1%;}
.contentBox3b {float: left; width: 30%; padding: 5px; margin: 7% 1% 5px 1%;}
.contentBox3c {float: left; width: 30%; padding: 10px; margin: 0 0 5px 0;}

.contentBox4a {float: left; width: 23.5%; padding: 0; margin: 0 1% 0 0;}
.contentBox4b, .contentBox4c {float: left; width: 23.5%; padding: 0; margin: 0 1% 0 1%;}
.contentBox4d {float: left; width: 23.5%; padding: 0; margin: 0 0 0 1%;}

.contentBox5a {float: left; width: 18%; padding: 0; margin: 0 1% 0 0;}
.contentBox5b, .contentBox5c, .contentBox5d {float: left; width: 18%; padding: 0; margin: 0 1% 0 1%;}
.contentBox5e {float: left; width: 18%; padding: 0; margin: 0 0 0 1%;}

.sidebarLeft {float: left; width: 22%; background: #fff; padding: 10px; margin: 20px 1%; border-radius: 10px;}
.contentRight {float: right; width: 70%; background: #fff; padding: 10px; margin: 20px 1%; border-radius: 10px;}

.sidebarRight {float: right; width: 23%; background: #fff; padding: 10px; margin: 20px 1%; border-radius: 10px;}
.contentLeft {float: left; width: 70%; background: #fff; padding: 10px; margin: 20px 1%; border-radius: 10px;}

.contentBox25Left  {float: left; width: 23%; padding: 10px 0; margin: 0;}
.contentBox25Right {float: left; width: 23%; padding: 10px 0; margin: 0;}
.contentBox75Left  {float: left; width: 73%; padding: 10px 0; margin: 0;}
.contentBox75Right {float: right; width: 73%; padding: 10px 0; margin: 0;}

.contentBox6 {float: left; width: 15.6%; padding: 0; margin: 0 1% 0 0;}

/* ======== FOOTER ======== */
footer {clear: both; color: #ffffff; padding: 10px; font-size: 80%;}
footer a {color: #fff;}
footer a:hover {color: #ccc;}
.copyright {letter-spacing: 3px; text-align: center; font-size: 90%; color: #fff; margin: 0; padding:0;}

/* Buttons ========== */
.sm-btn a {display: inline-block; color: #334c5b; font: 14px 'Jura', Verdana, Helvetica, sans-serif; background: #86a7ba; padding: 3px 4px; text-align: center;
	text-decoration: none; font-weight: normal; border: solid 1px #3d5a6c; border-radius: 5px; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}
.sm-btn a:hover  {color: #fff!important; text-decoration: none; padding: 3px 4px; font-weight: normal; background: #86a7ba; border: solid 1px #3d5a6c;
	border-radius: 5px; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}

.btn-detail {position: relative; background-color: #334c5b; background: linear-gradient(#334c5b, #3d5a6c);  border: solid 1px #283b46; color: #fff !important; font-weight: normal; font-size: 80%; font-variant: small-caps; text-decoration: none;
	padding: 5px 24px 5px 5px; border-radius: 5px; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}
.btn-detail:after {position: absolute; font-family: 'FontAwesome'; content: "\f0a9"; top: 8px; right: 5px;}
.btn-detail:hover {background-color: #222; background: linear-gradient(#555, #222); border: solid 1px #000; color: #fff !important; font-weight: normal; font-variant: small-caps; text-decoration: none;}
.btn-detail a {color: #ffffff!important; text-decoration: none !important; font-weight: normal; outline: none;}

.btn-cart {position: relative; display: inline-block; white-space: nowrap; background-color: #334c5b; background: linear-gradient(#334c5b, #3d5a6c); border-color: #334c5b; color: #fff;
	font-weight: normal; text-decoration: none; padding: 5px 8px 5px 35px;	border-radius: 5px;}
.btn-cart:before {position: absolute; font-family: 'FontAwesome'; content: "\f07a"; top: 5px; left: 10px;}
.btn-cart:hover {background-color: #222; background: linear-gradient(#555, #222); border-color: #222; color: #fff; font-weight: normal; text-decoration: none;}

.btn-solid {display: inline-block; white-space: nowrap;	color: #fff; font: 20px 'Jura', Verdana, Helvetica, sans-serif; padding: 10px; border-radius: 15px; text-decoration: none; font-weight: normal;
	font-variant: small-caps; border: solid 1px #000; background: #222; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}
.btn-solid:hover {color: #fff; font: 20px 'Jura', Verdana, Helvetica, sans-serif; padding: 10px; border-radius: 15px; text-decoration: none; font-weight: normal;	font-variant: small-caps;
	border: solid 1px #000; background: #334c5b; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}
.btn-solid a {color: #fff;}
.btn-solid a:hover {color: #fff;}

/* Contact Form ========== */
form.contactform {width: 99%; text-align: left;}
.contactform label {width: 99%; text-align: left; font-style: italic; display: block; margin-bottom: 4px;}
.contactform input {width: 99%; border: 1px #c0c0c0 solid; background-color: #efefef; padding: 5px; margin-bottom: 10px; color: #000000;}
.contactform textarea {width: 99%; border: 1px #c0c0c0 solid; background-color: #efefef; padding: 5px; resize:none; color: #000000;}
.contactform .submit {width: 100px; margin: 10px 0 20px 0; cursor: pointer; color: #444;
	font: 16px 'Raleway', Verdana, Helvetica, sans-serif; font-weight: normal; padding: 1px 14px; text-decoration: none; background-color: #eee; background: linear-gradient(#eee, #ccc);
	border: solid 1px #ccc;	border-radius: 5px; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.3);}
.contactform .submit:hover {text-decoration: none; color: #eee; background-color: #334c5b; background: linear-gradient(#334c5b, #334c5b);
	border: solid 1px #334c5b; border-radius: 5px; box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);}
/* Drop Caps ========== */
.dropcap {overflow: hidden;}
.dropcap:first-letter {color: #334c5b;	display: block; float: left; font: 60px/50px Georgia, Garamond, serif;	padding: 6px 4px 0 0;}

/* Big Lettering ========== */
.bignumber {border-radius: 50%; color: #505050; display: block; float: left; font: normal 30px/50px 'Raleway', Garamond, Georgia, serif; margin: -10px 10px 5px 0; text-align: center;
	text-transform: uppercase; height: 50px; width: 50px; border: 1px #505050 solid; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}

.bigletters {font: 2.0em 'Raleway', Arial, Verdana, Helvetica, sans-serif; font-weight: bold; text-align: center; color: #334c5b; margin: 5px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}

/* Block Quote ========== */
blockquote {background: url("../images/quote.png") no-repeat scroll 5px 12px;
    color: #777; border-top: none; border-bottom: none; font-size: 0.95em; line-height: 1.4em; margin: 2px 40px; padding: 12px 12px 12px 40px; text-align: left;}
blockquote p {padding: 0; margin: 0;}
blockquote strong {color: #000000; font-size:1.4em; font-weight:normal; letter-spacing:-1px;}
blockquote.leftside {float: left; display: block; width: 30%; border-width: 3px;	border-style: double; border-left: none; border-top: none; border-bottom: none; margin: 5px 2% 10px 0.5%;}
blockquote.rightside {float: right; display: block; width: 30%; border-style: double; border-right: none; border-top: none; border-bottom: none; margin: 5px 0.5% 10px 2%;}

/* Bookmark ========== */
.bookmark {font: normal 1.6em Verdana, Helvetica, sans-serif; color: #fff; background-color: #404040; text-decoration: none; padding: 0 8px 2px 10px; margin: 10px 0 0 0; border-radius: 50%; border: 1px solid #ffffff;}
.bookmark:hover {color: #ffffff; background-color: #334c5b; text-decoration: none;}

/* Breadcrumbs ========== */
.breadcrumbs {color: #000; text-transform: uppercase; margin: 0; padding: 0; border-bottom: 1px dashed #aaa; font-size: 0.85em; position: relative;}
.breadcrumbs a, .breadcrumbs a:hover {font-weight: normal; text-decoration: none;}
.breadcrumbs a, .breadcrumbs a:hover {font-weight: bold; text-decoration: none;}

/* Fieldset Legend ========== */
.ancestors {
	width: 90%;
	border: 1px dotted #86a7ba;
	padding: 20px 3%;
	margin: 20px 2%;
}

legend {color: #334c5b; font: 32px 'Philosopher', Verdana, Helvetica, sans-serif; background-color: #ffffff; padding: 0 10px;}

/* Google Maps ========== */
.googlemaps {position: relative; padding-bottom: 50%; height: 0; overflow: hidden; background-color: #ccc; border: 1px solid #c0c0c0;}
.googlemaps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}

/* Highlight========== */
.highlight{background-color: #ffff00; color: #000000;}

/* Pagination ========== */
.pagination {display: block; text-align: center; height: 22px; line-height: 21px; clear: both;
	padding-top: 3px; margin: 20px 0; font-size: 12px; font-weight: normal;}
.pagination a {padding: 7px; padding-top: 2px; padding-bottom: 2px; border: 1px solid #c0c0c0;
	margin-left: 5px; text-decoration: none; background-color: #f5f5f5; color: #334c5b;
	width: 22px; font-weight: normal; border-radius: 3px;}
.pagination a:hover {background-color: #3d5a6c; border: 1px solid #334c5b; color: #fff;}
.pagination .active_link {padding: 7px; padding-top: 2px; padding-bottom: 2px; border: 1px solid #334c5b;
	margin-left: 5px; text-decoration: none; background-color: #334c5b; color: #fff; cursor: default; border-radius: 3px;}
.pagination .disabled_pagination {padding: 7px; padding-top: 2px; padding-bottom: 2px; border: 1px solid #e5e5e5;
	margin-left: 5px; text-decoration: none; background-color: #fff; color: #d5d5d5; cursor: default; border-radius: 3px;}

/* Photo Gallery ================= */
.photogallery {background-color: #f2f2f2; border: 15px #ffffff solid; padding: 20px; margin: 0 1% 40px 1%; text-align: center; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.8);}
.photogallery img {background-color: #ffffff; padding: 7px; border: 1px #c0c0c0 solid; margin: 3px 3px 12px 3px; box-shadow: 0 10px 15px -9px rgba(0, 0, 0, 0.8);}
.photogallery p {text-align: center;}

/* Ticker============= */
	#ticker {list-style: none outside none; margin: 0; min-height: 220px;}
	#ticker li {margin: 0; background: none; padding: 0;}
	#ticker p {color: #000;	font-size: 18px; padding-left: 20px; margin-top: 0; padding-top: 0;}
	#ticker .tcontent {color: #000; padding: 28px; text-align: left;}
	#ticker .author {color: #777; text-align: right; font-size: 0.90em; font-style: italic; letter-spacing: 2px; padding: 0 10px 20px 0;}
	.testimonial {position: relative; color: #86a7ba;}
	.testimonial::before {position: absolute; color: #3d5a6c; font-family: 'FontAwesome'; font-size: 24px; content: "\f0e5"; top: 26px; left: -5px; text-shadow: 1px 2px 3px rgba(0,0,0,0.3);}

/* Scroll to Top ========== */
.scroll-to-top {display: none; position: fixed; bottom: 20px; right: 10px; z-index: 5; width: 30px; height: 30px; padding: 8px; text-align:center; color: #ffffff; text-decoration: none;
	background-color: #334c5b; border-radius: 5px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); border-radius: 50%;}
.scroll-to-top:hover {text-decoration: none;	background-color: #777;	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);}
.scroll-to-top a, .scroll-to-top a:hover {text-decoration: none;}

/* Shadow ========== */
.shadow {text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);}

/* ================================================================================================================================== */
/* ================================================================= MEDIA QUERIES ================================================== */
/* ================================================================================================================================== */
                                               /* ================= SMALL DEVICE 01 ==================== */
/* ================================================================================================================================== */
@media screen and (max-width: 320px) {
	.container {width: 95%; margin: 0 auto;}
	/* === header coding ==== */
	.brand, .brand a, .brand a:hover  {font-size: 28px; margin-top: 0;}
	.slogan {font-size: 14px; padding: 0 0 10px 0;}
	.text-align-right {text-align:center; padding-right: 0;}
	nav {float: none; margin: 0;}
	/* === content box coding ==== */
	.contentBox6,
	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c,
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d
		{
			width: 94%;
			padding: 10px;
			margin: 0 auto 20px auto;
			float: none;
		}



   	.sidebarLeft, .sidebarRight {float: none; width: 94%; margin: 0 auto;}
   	.contentRight, .contentLeft {float: none; width: 94%; margin: 0 auto;}
	.contentBox25Left, .contentBox25Right {width: 98%; margin:1%; padding: 0; float: none;}
	.contentBox75Left {float: none; width: 98%; margin: 1%;}
	.contentBox75Right {float: none; width: 98%; margin: 1%;}
	/* === miscellaneous coding ==== */
	.img-gallery {max-width: 80%;}
	.img-catalog {max-width: 80%;}
	.btn-lg {font-size: 18px; padding: 10px 30px;}
	.btn-lg:hover {font-size: 18px; padding: 10px 30px;}
}
/* ================================================================================================================================== */
                                   /* ================= SMALL DEVICE 02 ======================= */
/* ================================================================================================================================== */
@media screen and (min-width: 321px) and (max-width: 480px) {
	.container {width: 95%; margin: 0 auto; margin-bottom: 10px;}
	nav {float: none; margin: 0;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
	/* === content box coding ==== */
	.contentBox6,
	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c,
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 94%; padding: 10px; margin: 0 auto 20px auto; float: none; }
   	.sidebarLeft, .sidebarRight {float: none; width: 98%; margin: 0 auto;}
   	.contentRight, .contentLeft {float: none; width: 98%; margin: 0 auto;}
	.contentBox25Left, .contentBox25Right {width: 98%; margin:1%; padding: 0; float: none;}
	.contentBox75Left {float: none; width: 98%; margin: 1%;}
	.contentBox75Right {float: none; width: 98%; margin: 1%;}
	/* === miscellaneous coding ==== */
   	blockquote.leftside, blockquote.rightside {visibility: hidden; display: none;}
	.img-gallery {max-width: 90%;}
	.img-catalog { width: 96%;}
	.btn-lg {font-size: 18px; padding: 10px 30px;}
	.btn-lg:hover {font-size: 18px; padding: 10px 30px;}
	.text-align-right {text-align:center; padding-right: 0;}
}
/* ================================================================================================================================== */
                                   /* =================== SMALL DEVICE 03 ===================== */
/* ================================================================================================================================== */
@media screen and (min-width: 481px) and (max-width: 623px) {
	.container {width: 96%; margin: 0 auto;}
	nav {float: none; margin: 0;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
	/* === content box coding ==== */
	.contentBox6 {width: 47%; margin: 1%; padding: 0;}
   	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c,
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 94%; padding: 10px; margin: 0 auto 20px auto; float: none; }
   	.sidebarLeft, .sidebarRight {float: none; width: 98%; margin: 1%;}
   	.contentRight, .contentLeft {float: none; width: 98%; margin: 1%;}
	.contentBox25Left, .contentBox25Right {width: 98%; margin:1%; padding: 0; float: none;}
	.contentBox75Left {float: none; width: 98%; margin: 1%;}
	.contentBox75Right {float: none; width: 98%; margin: 1%;}
	.contentBox50 {width: 80%;}
	/* === miscellaneous coding ==== */
	.img-gallery {max-width: 90%;}
	.btn-lg {font-size: 24px; padding: 10px 30px;}
	.btn-lg:hover {font-size: 24px; padding: 10px 30px;}
	blockquote.leftside, blockquote.rightside {visibility: hidden; display: none;}
}
/* ================================================================================================================================== */
                                    /* ====================== MID DEVICE 01 ====================== */
/* ================================================================================================================================== */
@media screen and (min-width: 624px) and (max-width: 669px) {
	.container {width: 97%; margin: 0 auto;}
	nav {float: none; margin: 0;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
	/* === content box coding ==== */
	.contentBox6 {width: 47%; margin: 1%; padding: 0;}
   	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c,
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 94%; padding: 10px; margin: 0 auto 20px auto; float: none; }
   	.sidebarLeft, .sidebarRight {float: none; width: 98%; margin: 1%;}
   	.contentRight, .contentLeft {float: none; width: 98%; margin: 1%;}
	.contentBox25Left, .contentBox25Right {width: 98%; margin:1%; padding: 0; float: none;}
	.contentBox75Left {float: none; width: 98%; margin: 1%;}
	.contentBox75Right {float: none; width: 98%; margin: 1%;}
	.contentBox50 {width: 80%;}
	/* === miscellaneous coding ==== */
	blockquote.leftside, blockquote.rightside {visibility: hidden; display: none;}
	.img-gallery {max-width: 90%;}
	.btn-lg {font-size: 26px; padding: 10px 30px;}
	.btn-lg:hover {font-size: 26px; padding: 10px 30px;}
}
 /* ================================================================================================================================== */
                                                  /* ================== MID DEVICE 02 ================ */
/* ================================================================================================================================== */
@media screen and (min-width: 670px) and (max-width: 768px) {
	.container {width: 97%; margin: 0 auto;}
	nav {float: none; margin: 0;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
	/* === content box coding ==== */
	.contentBox6 {width: 47%; margin: 1%; padding: 0;}
   	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c {width: 98%; padding: 10px; margin: 0 auto 20px auto; float: none; max-width: 450px;}
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 48%; margin: 1%; padding: 0;}
   	.sidebarLeft, .sidebarRight {width: 98%; margin: 1%; padding: 0;}
   	.contentRight, .contentLeft {width: 98%; margin: 1%; padding: 0;}
	.contentBox25Left, .contentBox25Right {width: 98%; margin:1%; padding: 0; float: none;}
	.contentBox75Left {float: none; width: 98%; margin: 1%;}
	.contentBox75Right {float: none; width: 98%; margin: 1%;}
	/* === miscellaneous coding ==== */
   	blockquote.leftside, blockquote.rightside {visibility: hidden; display: none;}
	.img-gallery {max-width: 90%;}
	.btn-lg {font-size: 26px; padding: 10px 30px;}
	.btn-lg:hover {font-size: 26px; padding: 10px 30px;}
}
/* ================================================================================================================================== */
                                               /* ================== MID DEVICE 03 ================= */
/* ================================================================================================================================== */
@media screen and (min-width: 769px) and (max-width: 800px) {
	.container {width: 97%; margin: 0 auto;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
	/* === content box coding ==== */
	.contentBox6 {width: 47%; margin: 1%; padding: 0;}
   	.contentBox2a, .contentBox2b,
   	.contentBox3a, .contentBox3b, .contentBox3c {width: 98%; padding: 10px; margin: 0 auto 20px auto; float: none; max-width: 450px;}
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 48%; margin: 1%; padding: 0;}
   	.sidebarLeft, .sidebarRight {width: 98%; margin: 1%; padding: 5px;}
   	.contentRight, .contentLeft {width: 98%; margin: 1%; padding: 0;}
	.contentBox25left, .contentBox25right {width: 98%; padding: 0; margin: 0 auto 0 auto; float: none; max-width: 450px; text-align: center;}
	.contentBox75left {float: none; width: 98%; margin: 0 auto 0 auto; float: none; max-width: 450px;}
	.contentBox75right {float: none; width: 98%; margin: 0 auto 0 auto; float: none; max-width: 450px;}
	blockquote.leftside, blockquote.rightside {visibility: hidden; display: none;}
}
/* ================================================================================================================================== */
                                         /* ================== LG DEVICE 01 ================= */
/* ================================================================================================================================== */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  	.container {width: 98%;	margin: 0 auto;}
   	.menu-collapser {width: 300px; margin: 0 auto;}
   	ul.slimmenu.collapsed {width: 300px; margin: 0 auto;}
   	.sidebarLeft, .sidebarRight {width: 30%; margin: 2% 0 0 0; padding: 5px;}
   	.contentBox6 {width: 23%; margin: 1%; padding: 0;}
	.contentBox3a, .contentBox3b, .contentBox3c {width: 29%;}
   	.contentBox4a, .contentBox4b, .contentBox4c, .contentBox4d {width: 48%; margin: 1%; padding: 0;}
}
/* ================================================================================================================================== */
                                         /* ================== LG DEVICE 02 ================= */
/* ================================================================================================================================== */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
	.container {width: 98%; margin: 0 auto;}
   	.contentBox6 {width: 23%; margin: 1%; padding: 0;}
}
